<template>
  <aside>
    <slot></slot>
  </aside>
</template>

<script>
export default {
  name: "Popup",
};
</script>

<style scoped>
aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: 27%;
  margin-top: 8em;
  width: 45%;
  height: 45%;
  background-color: rgb(200, 200, 200, 0.5);
}
</style>
