<template>
  <figure v-on:click="toggleTile">
    <img :src="src" :alt="desc" :title="desc" :class="(hidden) ? 'hidden' : ''" />
  </figure>
</template>

<script>
export default {
  name: "Tile",
  props: {
    number: Number,
    hidden: Boolean
  },
  data: function() {
    return {
      src: require("../../assets/sadCats/" + this.number + ".png"),
      desc: "sadCat " + this.number
    };
  },
  methods:{
      toggleTile: function(){
          this.$emit('toggleTile',this.number);
      }
  }
};
</script>

<style scoped>
figure {
  background-color: #666;
  min-height: 25px;
  min-width: 25px;
}

img {
  position: relative;
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}
</style>
