<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <button v-on:click="buttonClick" >{{ count }}</button>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
    default: Number,
  },
  data: function() {
    return { count: this.default };
  },
  methods: {
    buttonClick: function(){this.count++;} 
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  text-align: center;
  text-transform: capitalize;
  color: #ff69b4;
  font-size: 2rem;
  font-weight: bold;
}
</style>
