<template>
  <section>
    <h2>
      {{ title }}
    </h2>
    <Popup v-show="sequence.length < 1 && !gameInProgress">
      <form action="">
        <label>
          Grid Size: {{size}}
        </label>
        <input type="range" min="2" max="4" :value="size" v-on:change="(e) => size = e.target.valueAsNumber"/>
        <input type="submit" v-on:click="startGame" value="start" />
      </form>
    </Popup>
    <Popup v-show="sequence.length > 0 && !gameInProgress">
      <p>
        You lost but you lasted:<b>
          {{ `${sequence.length} ${sequence.length > 1 ? "turns" : "turn"}` }}
        </b>
      </p>
      <button v-on:click="startGame">Restart</button>
    </Popup>
    <ul :class="clickDisabled ? 'disabled' : ''">
      <ul v-for="row in size" :key="row - 1">
        <li v-for="col in size" :key="(row - 1) * size + col">
          <Tile
            :hidden="
              blink === (row - 1) * size + col ? !defaultHidden : defaultHidden
            "
            v-on:toggleTile="handleTile"
            :number="(row - 1) * size + col"
          />
        </li>
      </ul>
    </ul>
  </section>
</template>

<script>
import Popup from "./game/Popup.vue";
import Tile from "./game/Tile.vue";

export default {
  name: "SequenceGame",
  components: {
    Tile,
    Popup,
  },
  props: {
    title: String,
    defaultHidden: Boolean,
  },
  data: function () {
    return {
      sequence: [],
      sequenceIndex: 0,
      gameInProgress: false,
      blink: -1,
      clickDisabled: true,
      size: 3,
    };
  },
  methods: {
    startGame: function (e) {
      e.preventDefault();
      this.sequence = [this.nextTile()];
      this.gameInProgress = true;
      this.blinkSequence();
    },
    stopGame: function () {
      this.clickDisabled = true;
      this.gameInProgress = false;
    },
    blinkTile: function (id, delay =0.5, count = 1) {
      this.blink = this.blink === id ? -1 : id;
      if (0 < count--) {
        const cb = () => this.blinkTile(id, delay, count);
        setTimeout(cb, 1000 * delay);
      }
    },
    blinkSequence: function (repeat=true, delay=0.5) {
      if(this.sequenceIndex < this.sequence.length) {
        this.blinkTile(this.sequence[this.sequenceIndex], 1, 0);
        if(repeat) {
          repeat = false;
        }
        else {
          repeat = true;
          this.sequenceIndex++;
        }
        const callback = () => this.blinkSequence(repeat);
        setTimeout(callback, delay * 1000);
      }
      else {
        this.sequenceIndex = 0;
        this.clickDisabled = false
      }
    },
    handleTile: function (id) {
      if (this.clickDisabled) return null;
      this.blinkTile(id, 1);
      if (this.checkUserInput(id)) {
        if (this.sequenceIndex + 1 < this.sequence.length) {
          this.sequenceIndex++;
        } else {
          this.nextTurn();
        }
      } else {
        this.stopGame();
      }
    },
    nextTile: function () {
      const max = Math.pow(this.size, 2);
      let res = Math.floor(Math.random() * max) + 1;
      if (0 < res && res <= max) return res;
      throw new Error("Next tile out of bounds");
    },
    nextTurn: function () {
      this.sequenceIndex = 0;
      this.clickDisabled = true;
      this.sequence.push(this.nextTile());
      this.blinkSequence();
    },
    checkUserInput: function (id) {
      return this.sequence[this.sequenceIndex] === id;
    },
  },
};
</script>

<style scoped>
section > ul {
  width: 45%;
  height: 45%;
  margin: 2em auto;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

ul ul {
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

li {
  list-style: none;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.disabled {
  background-color:rgba(125, 125, 125, 0.75);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type=range] {
  width: 50%;
}

button, input[type=submit] {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2rem;
  padding: 2em;
  display: flex;
  align-self: center;
  justify-content: center;
}

</style>
