<template>
  <div id="app">
    <header>
    <SequenceTitle title="SadCat the sequel" />
    </header>
    <main>
      <SequenceGame title="how long can you last?" :defaultHidden="true" />
    </main>
    <footer>
      <p>A project by Aryckae and Rooseboomk</p>
      <a href="https://sadcat-memory.web.app/">Visit SadCat Memory</a>
      <a href="https://gitlab.com/aryckae-rooseboomk/sadcat-sequence">View the GitLab Repo</a>
    </footer>
  </div>
</template>

<script>
import SequenceTitle from "./components/SequenceTitle.vue";
import SequenceGame from "./components/SequenceGame.vue";

export default {
  name: "App",
  components: {
    SequenceTitle,
    SequenceGame,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

p, a {
  font-size: 1.2rem;
}

a {
  color:rgb(255, 105, 180);
  display: block;
}
</style>
